<%- include("partials/header") %>


<style>
    
    td{
      height: 30px;
      width: 500px;
      padding: 10px;
    
    }
    .bod
        {
          margin-top: 50px;
          margin: 0 auto;
        }
    .css{
      font-size: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .btn{
      margin-left: 4px;
    }
    
    </style>

<div class="container">

    <div class="jumbotron">
        <h1>Nimap Infotech Crud</h1>
        <hr>
        <p>this is simple crud application made in nodejs and mongodb</p>
        <a href="/category/<%=founddata._id%>/product/add"  class="btn btn-md btn-primary">Add product</a>
    </div></div>
    </div>
    
    <div class="container">


        <div  class="bod">
        
            <table   >
              <thead>
                <td class="css">Category Id</td>
                <td class="css">Category Name</td>
                <td class="css">Product Id</td>
                <td class="css">Product Name</td>
              </thead>
              <tbody>
                <% for(let product of founddata.products) {%>
                <tr>
                  
                  <td>         <%=founddata._id%></td>
                  <td>    <%=founddata.name%> </td>
                  <td>   <%=product._id%>    </td>
                  <td>  <%=product.name%>  </td>

                 
                </tr>
                <%}%>
              </tbody>
            </table>
        
         </div>

  
        


</div>
<%- include("partials/footer") %>
