<%- include("partials/header") %>


<style>
    
    td{
      height: 30px;
      width: 500px;
      padding: 10px;
    
    }
    .bod
        {
          margin-top: 50px;
          margin: 0 auto;
        }
    .css{
      font-size: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .btn{
      margin-left: 4px;
    }
    
    </style>

<div class="container">

    <div class="jumbotron">
        <h1>Nimap Infotech Crud -Category Details</h1>
        <hr>
        <p>this is simple crud application made in nodejs and mongodb</p>
        <div>
          <a href="/category/add"  class="btn btn-md btn-primary">Add Category</a>
        </div>
    </div>
   
    
    <% if (founddata.length > 0) { %>
    <div class="container">


        <div  class="bod">
        
            <table   >
              <thead>
                <td class="css">Category Id</td>
                <td class="css">Category Name</td>
          
              </thead>
              <tbody>
                <% for(var i=0;i<founddata.length;i++){%>
                <tr>
                  
                  <td>         <%=founddata[i]._id%></td>
                  <td>    <a href="/category/s/<%=founddata[i]._id%>"><%=founddata[i].name%> </a></td>
                  
                  <td>  <a href="/category/s/<%=founddata[i]._id%>"  class="btn btn-md btn-primary">View products</a></td>
                    <td>
                        <form action="/category/<%=founddata[i]._id%>/edit" method="GET" >
                            <button class="btn btn-success btn-md">update</button>
                                </form>
                    </td>

                  <td>
                    <form action="/category/<%=founddata[i]._id%>?_method=delete" method="POST" >
                        <button class="btn btn-danger btn-md">delete</button>
                            </form>
                 <%}%>
               
              </tbody>
            </table>
        
         </div>
         <% } %>




         
         <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/category/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/category/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/category/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
      <% } %>
        


</div>
<%- include("partials/footer") %>
